.Header {
    text-align: center;
}

.App {
   
background: rgb(156,209,213);
background: linear-gradient(0deg, rgba(156,209,213,1) 0%, rgba(176,175,175,1) 98%); 
}

.App-header {

    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

